.error-container {
  display: flex;
  margin-top: 0.8rem;
  gap: 0.8rem;
  align-items: center;
}

.error-circle-icon {
  width: 2rem;
  height: 2rem;
}

.error-container p {
  color: #ea1919;

  font-family: FiraGORegular;
  font-size: 1.2rem;
}
