.success-modal {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: #fff;
  width: 48rem;
  padding: 2rem 2.4rem 4rem 2.4rem;
}

.success-modal-close-btn {
  display: inline-block;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.return-starter-page {
  align-self: end;
}

.success-modal-close-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.success-modal-title {
  color: #1a1a1f;
  text-align: center;
  font-family: FiragoBold;
  font-size: 2.4rem;
  margin-top: 2rem;
}

.success-modal-icon {
  width: 6.4rem;
  height: 6.4rem;
  align-self: center;
}

.success-btn {
  height: 4rem;
  width: 100%;
  border-radius: 8px;
  background: #5d37f3;
  color: #fff;
  font-family: FiragoMedium;
  font-size: 1.4rem;
  margin-top: 2.4rem;
  cursor: pointer;
  border: none;
}
