.blog-form-uploader-container {
  grid-column: 1/-1;
}

.blog-form-file-input-container:hover {
  background: #f1effb;
}

.blog-form-label {
  color: #1a1a1f;
  font-family: FiraGoMedium;
  font-size: 1.4rem;
  display: block;
  margin-bottom: 0.8rem;
}

.blog-form-file-input-container {
  width: 60rem;
  height: 18rem;
  border-radius: 12px;
  border: 1px dashed #85858d;
  background: #f4f3ff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.blog-form-file-input-container p span {
  text-decoration: underline;
}

.blog-form-file-input-container p {
  color: #1a1a1f;
  font-family: FiraGOregular;
  font-size: 1.4rem;
}

.upload-icon {
  width: 4rem;
  height: 4rem;
}

.blog-form-uploaded-container {
  grid-column: 1/-1;
  border-radius: 12px;
  background: #f2f2fa;
  padding: 0 1.6rem;

  width: 60rem;
  height: 5.6rem;
  display: flex;
  justify-content: space-between;
}

.blog-form-uploaded-inner {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.blog-form-uploaded-image-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.blog-form-uploaded-file-name {
  color: #1a1a1f;

  font-family: FiraGoRegular;
  font-size: 1.4rem;
}

.close-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
