.blog-section {
  width: 72rem;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 9.8rem;
}

.blog-img {
  width: 100%;
  height: 32.8rem;
  object-fit: cover;
  border-radius: 12px;
}

.date-author-container {
  display: flex;
  gap: 0.7rem;
  margin-top: 0.8rem;
}

.blog-date,
.blog-author-email {
  color: #85858d;
  font-family: FiraGORegular;
  font-size: 1.2rem;
}

.blog-author {
  color: #1a1a1f;
  font-family: FiraGOMedium;
  font-size: 1.6rem;
  margin-top: 4rem;
}

.blog-title {
  color: #1a1a1f;

  font-family: FiraGOBold;
  font-size: 3.2rem;
  margin-top: 2.4rem;
}

.categories-container {
  margin-top: 2.4rem;
  display: flex;
  width: 100%;

  overflow: scroll;
  gap: 2.4rem;
}

.categories-container::-webkit-scrollbar {
  display: none;
}

.category {
  border-radius: 30px;
  padding: 0.8rem 1.6rem;
  font-family: FiraGoRegular;
  font-size: 1.2rem;
  list-style-type: none;
  display: flex;
  flex-shrink: 0;
  display: flex;
  cursor: pointer;
  background-color: red;
}

.blog-description {
  margin-top: 4rem;
  color: #404049;

  font-family: FiraGOregular;
  font-size: 1.6rem;
  line-height: 28px;
}

.suggestion-section {
  width: 128.8rem;
  margin: 0 auto;
  padding-bottom: 15rem;
}

.blogs-container {
  margin-top: 4rem;
  display: grid;
  grid-auto-columns: 40.8rem;
  grid-auto-flow: column;
  column-gap: 3.2rem;
  scroll-behavior: smooth;
  overflow-x: scroll;
}

.section-first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggestion-title {
  color: #1a1a1f;

  font-family: FiraGOBold;
  font-size: 3.2rem;
}

.slider-imgs {
  display: flex;
  gap: 2.4rem;
}

.back-to-page-btn {
  position: absolute;
  top: 12rem;
  left: 7.6rem;
}
