.header-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 7.6rem;
  border-bottom: 1px solid #e4e3eb;
  background: #fff;
  align-items: center;
}

.main-header-logo {
  width: 15rem;
  height: 2.4rem;
}

.login-btn {
  padding: 1rem 2rem;
  border-radius: 8px;
  background: #5d37f3;
  border: none;

  color: #fff;
  font-family: firaGoMedium;
  font-size: 1.4rem;
  font-weight: 500;
}
