* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 1920px;
  height: 1080px;
  background: #f3f2fa;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: firaGoRegular;
  src: url(./Fonts//FiraGO-Regular.ttf);
}

@font-face {
  font-family: firaGoMedium;
  src: url(./Fonts//FiraGO-Medium.ttf);
}

@font-face {
  font-family: firaGoBold;
  src: url(./Fonts//FiraGO-Bold.ttf);
}
